* {
    margin: 0;
    padding: 0;
}

.all {
    width: 330px;
    height: 30px;
    margin: auto 33%;
    background-color: coral;
    padding-left: 10px;
    list-style: none;
}

.all li {
    width: 100px;
    height: 30px;
    background-color: aqua;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 10px;
    display: inline;
    position: relative;
    cursor: pointer;
    list-style: none;
}

.first :hover {
    border-top: 1px;
    border-top-color: green;
    border-top-style: dashed;
}

.all ul {
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
    list-style: none;
}