<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link href="../Content/common.css" rel="stylesheet" />
</head>
<body>
    <div class="head">
        <div class="head-top">
            <div class="yinyue-container">
                <div class="yin-logo">
                    <a href="index.html"><img src="../imgs/logo/yinLogo.png"></a>
                </div>
                <div class="top-menu">
                    <div class="sina"><p>官方微博</p>
                    <div class="popsina">
                        <img src="../imgs/weibo.png">
                        <p class="scan">扫一扫</p>
                    </div>
                    </div>
                    <span class="split-line">|</span>
                    <div class="wechat">
                        <p>关注微信</p>
                        <div class="popwechat">
                            <img src="../imgs/weibo.png">
                            <p class="scan">扫一扫</p>
                        </div>
                    </div>
                    <span class="split-line">|</span>
                    <a class="zhengpin" href="buyner-reading.html">购物须知</a>
                </div>
            </div>
        </div>
        <div class="head-main">
            <div class="yinyue-container">
                <a class="shop-logo" href="index.html"><img src="../imgs//logo//shop-logo-v1.png"></a>
                <div class="shop-search">
                 <input type="text" placeholder="search something">
                 <a class="search-btn" href="javascript:void(0);"></a>
                 </div>
                <div class="user-box">
                    <a href="javascript:void(0);" class="shop-loginBtn" id="loginPopup">登录</a>
                    <a href="javascript:void(0);" class="my-order">我的订单</a>
                    <a href="#" class="my-cart" target="_blank">购物车</a>
                </div>
            </div>
        </div>
        <div class="head-nav yinyue-container clearfix">
            <div class="nave-type">
                <a href="#">艺人分类</a>
            </div>
            <ul class="nav-box">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="album-list.html">专辑</a></li>
                <li><a href="#">明星周边</a></li>
                <li><a href="#">明星同款</a></li>
                <li><a href="#">个护美妆</a></li>
                <li><a href="#">影漫周边</a></li>
                <li><a href="#">食品</a></li>
                <li><a href="#">服装配饰</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
